<div class="bottom-bar" style="position: fixed;bottom: 0;left: 0;z-index: 1000;">
    <span id="linkwrapper">
        <a href="http://stormycloud.org/" target="_blank" data-tooltip="StormyCloud on the Web"><img src="../assets/images/link_web.svg" width="20" alt="Web"></a> &nbsp;
        <a href="http://a3px3xerx4b2ho7q4pd6e3di734v7tbse3abze6z6ztb6ox3smbqjjad.onion" data-tooltip="StormyCloud .onion site"><img src="../assets/images/link_tor.svg" width="20" alt="Tor"></a> &nbsp;
        <a href="http://stormycloud.i2p/" data-tooltip="StormyCloud on the I2P Network"><img src="../assets/images/link_i2p.svg" width="20" alt="I2P"></a> &nbsp;
        <a href="https://www.tiktok.com/@stormycloudinc?lang=en" data-tooltip="Find StormyCloud on TikTok"><img src="../assets/images/tiktok.svg" width="20" alt="TikTok"></a> &nbsp;
        <a href="https://www.instagram.com/stormycloudinc/" data-tooltip="Find StormyCloud on Instagram"><img src="../assets/images/instagram.svg" width="20" alt="Instagram"></a> &nbsp;
        <a href="https://www.facebook.com/p/StormyCloud-Inc-100086492828511/" data-tooltip="Find StormyCloud on Facebook"><img src="../assets/images/facebook.svg" width="20" alt="Facebook"></a> &nbsp;
        <a href="https://discord.com/invite/McAQBXVg9e" data-tooltip="Join StormyCloud's Discord Server"><img src="../assets/images/discord.svg" width="20" alt="Discord"></a> &nbsp;
        <a href="http://natter.i2p/StormyCloudInc" target="_blank" data-tooltip="StormyCloud on Natter (I2P)"><img src="../assets/images/link_nitter.svg" width="20" alt="Natter"></a> &nbsp;
        <a href="https://twitter.com/StormyCloudInc" target="_blank" data-tooltip="StormyCloud on Twitter"><img src="../assets/images/link_twitter.svg" width="20" alt="Twitter"></a> &nbsp;
        <a href="http://skank.i2p/" target="_blank" data-tooltip="Site design by dr|z3d"><img src="../assets/images/link_info.svg" width="20" alt="Design by dr|z3d"></a>
    </span>
